* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.images {
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}

.images > img {
    vertical-align: top;
}

#buttons {
    display: block;
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

.red {
    color: red;
}
